.background {
    width: 390px;
    height: 844px;
    border-radius: 30px;
    background: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-color: black;
    border-width: 5px;
    border-style: solid;
    padding: 15px;
}

.logo {
    height: 200px;
    width: 150px;
    overflow: hidden;
    object-fit: contain;
    clip-path: polygon(0% 25%, 100% 25%, 100% 75%, 0% 75%);
    margin-top: -130px;
    margin-right: 350px;

    
    }

.logo2 {
    width: 420px;
    height:420px;
    padding: 0px;
    margin-left: -15px;
    clip-path: polygon(0% 2%, 100% 2%, 100% 75%, 0% 75%);
    z-index: 0;
    position: relative;


}
      

.time {
    color: black;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; 
    margin-right: 230px;
    margin-left:20px;
    }
    
.home {
    color: #FFF;
    font-family: Amaranth;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 125% */
    padding-left: 55px;
    }

.home-box {
    width: 140px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 0px 30px 30px 0px;
    background: rgba(5, 18, 138, 0.84);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: -40px;
    margin-left: -15px;
    overflow: hidden;
    margin-bottom: 20px;

}
    
.welcome {
    width: 414px;
    height: 46px;
    flex-shrink: 0;
    color: #000;
    font-family: "Amiri Quran Colored";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 125% */
    padding-bottom: 20px;
}

.todo {
    width: 332px;
    height: 227px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;

}

.todo_list {
    width: 266px;
    height: 14px;
    flex-shrink: 0;
    color: #000;
    font-family: Amaranth;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 125% */
}

/* Not showing up */
.ToDo {
    width: 122px;
    height: 25px;
    flex-shrink: 0;
    font-family: Amaranth;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 125% */
    background: linear-gradient(105deg, #05128A 24.64%, #05128A 64.84%, #666 93.05%);
    background-clip: text;
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: transparent; */
    color: #05128A;
    padding-left: 125px;
    padding-bottom: 20px;
}

.check_blue {
    width: 122px;
    height: 25px;
    flex-shrink: 0;
    font-family: Amaranth;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 125% */
    background: linear-gradient(105deg, #05128A 24.64%, #05128A 64.84%, #666 93.05%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hamburger {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    margin-left: 344px;
    /* display: inline-block; */
    margin-top: 50px;
}

.back {
    width: 50px;
}

.menubar {
    width: 368px;
    height: 57px;
    /* flex-shrink: 0; */
    border-radius: 30px;
    background: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 6px 4px 4px 3px rgba(0, 0, 0, 0.35);
    margin-top: -160px;
    margin-left: 15px;
    z-index: 10;
    position: relative;
    margin-bottom: 50px;
}

.menulogo {
    display: inline-block;
    height: 35px;
    width: 35px;
    margin-right: 20px;
    margin-left: 28px;
    padding: 2px;
    margin-top: 10px;

}

.bluecheck {
    display: inline-block;
    height: 20px;
    width:20px;
    margin-right: 5px;
    margin-top: 5px;
}

.whitecheck {
    display: inline-block;
    height: 20px;
    width:20px;
    margin-right: 5px;
    margin-top: 5px;
}

.top {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 8px;
    /* margin-right: 5px; */
}
/* 
.topbox {
    margin-left: 50px;
} */

.Tutorial_title {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Amaranth;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 62.5% */
    margin-left: 30px;
    
}

.navbar {
    width: 420px !important;
    margin-left: -15px;
    margin-top: -15px !important;
    height: 159px;
    flex-shrink: 0;
    border-radius: 25px 25px 30px 30px;
    background: rgba(5, 18, 138, 0.84);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.tutorialspace {
    height: 75px;
    
}

.searchbox {

    height: 40px;
    width: 300px;
    font-size: 20px;
    border-radius: 15px;
    padding: 3px;
    border-color: grey;
    margin-left: 30px;
    margin-top: 25px;
}   

.video-item1 {
    background: rgba(5, 18, 138, 0.84);
    padding: 5px;
    margin-top: 15px;
    border-radius: 15px;
    box-shadow: 5px 6px #888888;
    color: white;
    padding-left: 20px;

}

.video-item2 {
    background: white;
    padding: 5px;
    margin-top: 15px;
    border-radius: 15px;
    box-shadow: 5px 6px #888888;
    padding-left: 20px;
}

.menubar2 {
    width: 368px;
    height: 57px;
    /* flex-shrink: 0; */
    border-radius: 30px;
    background: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 6px 4px 4px 3px rgba(0, 0, 0, 0.35);
    margin-top: -30px;
    margin-left: 15px;
    z-index: 10;
    position: relative;
    margin-bottom: 50px;
}

.menubar3 {
    width: 368px;
    height: 57px;
    /* flex-shrink: 0; */
    border-radius: 30px;
    background: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 6px 4px 4px 3px rgba(0, 0, 0, 0.35);
    margin-top: 35px;
    margin-left: 15px;
    z-index: 10;
    position: relative;
    margin-bottom: 50px;
}

.menulogo {
    display: inline-block;
    height: 35px;
    width: 35px;
    margin-right: 20px;
    margin-left: 28px;
    padding: 2px;
    margin-top: 10px;

}

.search {
    height: 20px;
    width: 20px;
    margin-left: 3px;
}


.tutorial-top{
    background-color: white;
    width: 50px;
    height: 50px;
}

.mentor {
    width: 207px;
    height: 50px;
    flex-shrink: 0;
    color: #000;
    font-family: Amaranth;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 69.444% */
    margin-left: 150px;
    padding-top: 15px;

}

.pronouns {
    width: 247px;
    height: 81px;
    flex-shrink: 0;
    color: #B8B5B5;
    font-family: Amaranth;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 125% */
    margin-left: 168px;
    margin-top: -35px;
}

.profile {
    width: 200px;
    height: 205px;
    flex-shrink: 0;
    border-radius: 100px;
    margin-left: 95px;
    margin-top: -60px;
}

.interests {
    width: 328px;
    height: 100px;
    flex-shrink: 0;
    color: #05128A;
    font-family: Amaranth;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 125% */
    padding-left: 35px;
}

.bio {
    width: 247px;
    height: 100px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Amaranth;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 138.889% */
    padding-left: 70px;
    margin-top: -80px;

}

.Connections_title {
    justify-content: center;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Amaranth;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 62.5% */
    margin-left: 30px;
}

.connect-button {
    margin-top: 80px;
    margin-left: 250px;
    width: 131px;
    height: 37px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #05128A;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.connectbuttontext {
 
}